.frameParent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px var(--padding-48) 64px;
  box-sizing: border-box;
  gap: 48px;
  line-height: normal;
  letter-spacing: normal;
}
.setUpYourStyleEnvironmentParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-22);
  color: var(--color-gray-500);
  font-family: var(--font-noto-sans);
}
.setUpYour {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--fs-22);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: inherit;
}
.frameGroup,
.installDependenciesCssReseParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  gap: var(--gap-16);
  font-size: var(--fs-14);
  color: var(--color-dimgray);
}
.installDependenciesCssReseParent {
  gap: var(--gap-12);
}
.installDependenciesCssContainer {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.installDependenciesCssRese {
  margin: 0;
  font-family: inherit;
  font-size: var(--fs-14);
  padding-left: var(--padding-20);
}
.setUpYourBundlingEnvironmeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-noto-sans);
}
.setUpYourBundlingEnvironmeParent {
  align-self: stretch;
  gap: var(--gap-24);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-gray-500);
}
.setUpYour2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--fs-22);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: inherit;
}
.hbkDesignSystemContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-14);
  color: var(--color-dimgray);
}
.hbkDesignSystem {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.weRecommendBabel {
  margin: 0;
}
.settingUpBabelParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  max-width: 100%;
}
.settingUpBabel {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.installTheBabelPluginsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-dimgray);
  font-family: var(--font-noto-sans);
}
.moduleexportsPluginsWrapper {
  border-radius: var(--br-24);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-24) var(--padding-16);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--color-steelblue-100);
}
.moduleexportsPluginsWrapper {
  width: 100%;
}
.moduleexports {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-24);
  font-weight: 500;
  white-space: pre-wrap;
}
.thenCreateTheseConfigFilesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-dimgray);
  font-family: var(--font-noto-sans);
}
.parcelrcParent,
.transformerbabelpluginsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.transformerbabelpluginsWrapper {
  width: 100%;
  border-radius: var(--br-24);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-24) var(--padding-16);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--color-steelblue-100);
}
.parcelrcParent {
  align-self: stretch;
  gap: var(--gap-12);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-gray-500);
  font-family: var(--font-noto-sans);
}
.parcelrc {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.yarnAddReact1820ReactDWrapper {
  align-self: stretch;
  border-radius: var(--br-24);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-24) var(--padding-16);
  color: var(--color-steelblue-100);
}
.yarnAddReact1820 {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-24);
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .frameParent{
    padding: 0px var(--padding-24) 24px;
  }
}
@media screen and (max-width: 480px) {
  .frameParent{
    padding: var(--padding-16);
    gap: 24px;
  }
}
