.container {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 48px 56px;
  font-family: "Noto Sans", sans-serif;
  color: #444;
}

.page {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: left;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 100%;
  scroll-margin-top: 170px;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionHeaders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionsHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle,
.subTitle,
.headingTitle {
  margin: 0;
  color: #282828;
  font-weight: 600;
}

.sectionTitle {
  font-size: 30px;
  line-height: 38px;
}

.subTitle {
  font-size: 22px;
  line-height: 30px;
}

.subtext {
  margin: 0px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.sectionsHeader .subTitle {
  font-size: 18px;
  line-height: 26px;
}

.headingTitle {
  font-size: 22px;
  line-height: 30px;
}

.sectionText {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #52525b;
}

.sectionText span {
  font-weight: 600;
}

.heroSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  max-width: 100%;
  cursor: pointer;
}

.heroCopy {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionList {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #52525b;
  padding-left: 25px;
  list-style-type: disc;
}

.styleNone {
  list-style: none;
  padding-left: 20px;
}

.sectionList li {
  padding-bottom: 5px;
}

.typeText,
.typeImage {
  display: block;
}

.typeText {
  width: calc(55% - 16px);
}

.typeImage {
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.typeImage img {
  width: 100%;
  transition: transform 0.5s ease;
}

.heroSection:hover .typeImage img,
.typeImage:hover img {
  transform: scale(1.05);
}

.tableSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.tablesHeader,
.tablesRow {
  display: grid;
  grid-template-columns: 100px 200px 1fr;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
}

.tablesHeader {
  background: #f8f8fa;
  font-weight: 600;
  color: #252636;
  font-size: 14px;
}

.tablesRow {
  background: #fcfcfc;
  border-top: 1px solid #f0f0f2;
  font-size: 14px;
  color: #282828;
}

.tableHeading,
.tableRows {
  display: grid;
  grid-template-columns: 150px 120px 120px 1fr;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
}

.tableHeading {
  background: #f8f8fa;
  font-weight: 600;
  color: #252636;
  font-size: 14px;
}

.tableRows {
  background: #fcfcfc;
  border-top: 1px solid #f0f0f2;
  font-size: 14px;
  color: #282828;
}

.table2Header,
.table2Rows {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
}

.table2Header {
  background: #f8f8fa;
  font-weight: 600;
  color: #252636;
  font-size: 14px;
}

.table2Rows {
  background: #fcfcfc;
  border-top: 1px solid #f0f0f2;
  font-size: 14px;
  color: #282828;
}

.tables2Header,
.tables2Rows {
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
}

.tables2Header {
  background: #f8f8fa;
  font-weight: 600;
  color: #252636;
  font-size: 14px;
}

.tables2Rows {
  background: #fcfcfc;
  border-top: 1px solid #f0f0f2;
  font-size: 14px;
  color: #282828;
}

.table3Header,
.table3Rows {
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
}

.table3Header {
  background: #f8f8fa;
  font-weight: 600;
  color: #252636;
  font-size: 14px;
}

.table3Rows {
  background: #fcfcfc;
  border-top: 1px solid #f0f0f2;
  font-size: 14px;
  color: #282828;
}

.colNo {
  font-weight: 500;
}

.colGuideline,
.colDescription {
  line-height: 1.5;
}

.heighlight_text {
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #F5F9FA;
  padding: 2px 6px;
  color: #00607E;
  font-size: 14px;
}

.dosDontsGrid {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.dosCard,
.dontsCard {
  flex: 1;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.dosCard:hover,
.dontsCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);
}

.dosCard {
  background-color: var(--color-forestgreen-100);
}

.dontsCard {
  background-color: var(--color-red-100);
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #282828;
  padding: var(--padding-20) var(--padding-16);
}

.dosCard .cardTitle {
  background-color: var(--color-forestgreen-200);
}

.dontsCard .cardTitle {
  background-color: var(--color-red-200);
}

.dosDontsStyle .bullet img {
  height: 18px;
  width: 18px;
}

.list {
  margin: 0;
  padding: var(--padding-16);
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #444;
  line-height: 24px;
  list-style: none;
}

.list li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
}

.dosDontsStyle .list {
  gap: 20px;
  padding: var(--padding-0);
}

.dosDontsStyle .list {
  gap: 0px;
}

.dosDontsStyle .list li {
  border-bottom: 1px solid #fff;
  padding: var(--padding-20) var(--padding-16);
}

.bullet {
  margin-top: 2px;
  flex-shrink: 0;
}

.bullet img {
  width: 16px;
  height: 16px;
}

.sectionBtn {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btnText {
  padding: 4px 16px;
  border-radius: 999px;
  border: 1px solid #BEBEBE;
  background: #F5F9FA;
  color: #00607E;
  font-size: var(--fs-14);
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
}

.previewSurface {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #fff;
}

.anatomyImageContainer {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  background: #f2f2f2;
  padding: 40px;
  box-sizing: border-box;
}
.anatomyImage {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}
.anatomyImageContainer:hover .anatomyImage {
  transform: scale(1.05);
}

.previewImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background: #f2f2f2;
  cursor: pointer;
}

.previewImage img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.previewImage:hover img {
  transform: scale(1.05);
}

.sectionCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.smallCard {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.smallCard img {
  transition: transform 0.3s ease;
}

.smallCard:hover img {
  transform: scale(1.1);
}

.cardText {
  margin: 0px;
  font-size: 12px;
}

.sideNav {
  width: 160px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: sticky;
  top: 170px;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sideNav::-webkit-scrollbar {
  display: none;
}
.sideNav::-webkit-scrollbar {
  display: none;
}

.navItem {
  padding: 8px 16px;
  border-left: 1px solid #e7e7e7;
  font-size: 14px;
  line-height: 20px;
  color: #52525b;
  text-align: left;
  cursor: pointer;
}

.navItemActive {
  border-left: 2px solid #101828;
  color: #101828;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e5e7eb;
  margin: 0px;
}

.splashProduct {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.tabContent {
  display: block;
  flex: 1;
  width: 100%;
}

.cardGrid {
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  justify-content: space-around;
}

.brandCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 10px;
  border: 1px solid #dcdcdf;
  border-radius: 12px;
  background: #f8f8fa;
  text-align: left;
  cursor: pointer;
}

.brandCardActive {
  border-color: #d4d4d8;
  background: #fff;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.05);
}

.swatch {
  width: calc(100% - 20px);
  border-radius: 8px;
  padding: 10px;
  color: #fff;
}

.cardLabel {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

@media screen and (max-width: 1300px) {
  .sectionCard {
    gap: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .page {
    flex-direction: column;
  }

  .container {
    padding: var(--padding-24) var(--padding-24) var(--padding-48);
  }

  .sideNav {
    display: none;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .sectionCard {
    gap: 60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 24px 40px;
  }

  .sectionTitle {
    font-size: 28px;
    line-height: 34px;
  }

  .subTitle {
    font-size: 20px;
    line-height: 28px;
  }

  .heroSection,
  .dosDontsGrid {
    flex-direction: column;
  }

  .typeText {
    width: 100%;
  }

  .dosCard,
  .dontsCard {
    width: 100%;
  }

  .content {
    gap: 32px
  }

  .tablesHeader,
  .tablesRow {
    grid-template-columns: 80px 150px 1fr;
    gap: 8px;
    padding: 16px 16px;
    font-size: 14px;
  }

  .tableHeading,
  .tableRows {
    grid-template-columns: 120px 80px 100px 1fr;
    gap: 8px;
    padding: 16px 16px;
    font-size: 14px;
  }

  .table2Header,
  .table2Rows {
    grid-template-columns: 120px 1fr;
    gap: 8px;
    padding: 16px 16px;
    font-size: 14px;
  }

  .tables2Rows,
  .tables2Header {
    font-size: 14px;
  }

  .table3Header,
  .table3Rows {
    grid-template-columns: 120px 1fr 120px;
    gap: 8px;
    padding: 16px;
  }

  .sectionCard {
    gap: 32px;
  }

  .splashProduct {
    flex-direction: column;
    gap: 16px;
  }

  .cardGrid {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }

  .brandCard {
    width: calc(23% - 20px);
  }

  .swatch {
    font-size: 12px;
  }

  .cardLabel {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 700px) {
  .brandCard {
    width: calc(25% - 20px);
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 16px;
  }

  .sectionTitle {
    font-size: 24px;
    line-height: 30px;
  }

  .sectionText {
    font-size: 14px;
    line-height: 24px;
  }

  .tablesHeader,
  .tablesRow {
    grid-template-columns: 65px 120px 1fr;
    padding: 8px 8px;
  }

  .tableHeading,
  .tableRows {
    grid-template-columns: 1fr 60px 80px 1fr;
    padding: 8px;
  }

  .sectionBtn {
    gap: 8px;
  }

  .sectionList,
  .list li {
    font-size: 14px;
    line-height: 24px;
  }

  .sectionCard {
    gap: 60px;
  }

  .brandCard {
    width: calc(50% - 30px);
    padding: 10px;
  }
}

@media screen and (max-width: 420px) {

  .table3Header,
  .table3Rows {
    grid-template-columns: 100px 1fr 80px;
  }
}