.bodyLayout {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: var(--gap-0);
  max-width: 100%;
  text-align: center;
  font-size: var(--fs-20);
  color: var(--color-darkslategray-300);
  font-family: "Noto Sans";
  background: var(--color-gray-101);
}
.mainContentArea {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-text-text-black-default);
  font-family: var(--family-primary);
}
.mainContentAreaInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-48);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-dimgray-200);
  font-family: "Noto Sans";
}
.frameContainer {
  width: 100%;
  border-radius: var(--br-24);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-32);
  background-image: url(/public/bg-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.frameParent2 {
  flex: 1;
  width:100%;
  padding:var(--padding-20) var(--padding-20) var(--padding-20) var(--padding-48);
}
.chooseYourContextToExploreWrapper,
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chooseYourContext {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 142%;
  text-transform: uppercase;
}
.buttonParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  font-size: var(--fs-32);
  color: var(--color-gray-500);
}
.button,
.chooseYourContext2 {
  position: relative;
  flex-shrink: 0;
}
.button {
  margin: 0;
  font-size: var(--fs-36);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: inherit;
}
.chooseYourContext2 {
  width: 100%;
  font-size: var(--fs-18);
  letter-spacing: -0.01em;
  line-height: 150%;
  color: var(--color-dimgray-200);
  display: inline-block;
  max-width: 633px;
}
.frame2 {
  height: 238px;
  flex: 1;
  position: relative;
  max-width: 300px;
}
.frameIcon {
  position: absolute;
  width: 100%;
  top: calc(50% - 119px);
  right: 0px;
  border-radius: var(--br-24);
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: contain;
  max-height: 238px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.frameContainer:hover .frameIcon {
  transform: scale(1.05);
}
.navButtonHorizontalParent {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: var(--padding-0) var(--padding-48);
  gap: var(--internal-padding-large);
  position:sticky;
  top:69px;
  z-index: 10;
  background-color: var(--color-gray-101);
  border-bottom: 1px solid #e7e7e7;
}
.addIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
}
.navButtonHorizontal {
  display: flex;
  align-items: center;
}
.navButtonHorizontal {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--button-button-base);
  overflow: hidden;
  border-bottom: 2px solid transparent;
  font-size: var(--fs-16);
}
.navTabButtonActive{
  border-bottom:2px solid var(--color-text-text-fg-brand);
}
.navTabButtonActive>div>div{
  color:var(--color-text-text-fg-brand);
}
.footerUpper{
  padding-top:var(--padding-40);
  background-color:var(--color-gray-101);
  display:flex;
  justify-content: space-between;
  align-items:center;
  gap:var(--gap-16);
}
.actionButton{
  display:flex;
  flex-direction:column;
  gap:var(--gap-8);
  font-size:var(--fs-16);
  text-align:left;
  border: 1px dashed #E4E4E7;
  background: #E4E4E7;
}
.btnLink{
  color: var(--color-gray-500);
  padding:var(--padding-20) var(--padding-30);
  min-width: 150px;
}
.actionTextBtn{
  display:flex;
  align-items:center;
  gap:var(--gap-8);
  font-size: 16px;
  font-weight: 600;
}
.actionNameBtn{
  font-size: 14px;
  color: var(--color-gray-500);
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 1350px){
  .frameParent2{
    padding: var(--padding-20);
  }
  .frame2{
    max-width: 265px;
  }
}
@media screen and (max-width: 1200px){
  .mainContentAreaInner{
    padding: var(--padding-24);
  }
  .navButtonHorizontalParent{
    padding: var(--padding-0) var(--padding-24);
  }
}
@media screen and (max-width: 768px){
  .button{
    font-size: var(--fs-32);
  }
  .buttonParent{
    position: relative;
    z-index: 2;
  }
  .chooseYourContext2{
    font-size: var(--fs-16);
    margin-top: 130px;
  }
  .frame2{
    position: absolute;
    height: auto;
    top:58px;
  }
  .frameIcon{
    position: relative;
  }
  .navButtonHorizontalParent{
    gap:20px;
    top: 89px;
  }
}
@media screen and (max-width: 480px){
  .mainContentAreaInner{
    padding: var(--padding-16);
  }
  .button{
    font-size: var(--fs-24);
  }
  .navButtonHorizontalParent{
    padding: var(--padding-0) var(--padding-16);
    gap:var(--gap-15);
    top: 89px;
  }
  .navButtonHorizontal{
    height: 40px;
    overflow: visible;
    font-size: 14px;
  }
  .btnLink{
    min-width: 100px;
    padding:var(--padding-10) var(--padding-20);
  }
  .actionTextBtn{
    font-size: 16px;
  }
  .actionTextBtn img{
    width: 18px;
    height: 18px;
  }
  .actionNameBtn{
    font-size: 14px;
  }
}